# 核心依赖
flask==3.1.0
flask-socketio==5.5.1
python-socketio==5.12.1
mediapipe==0.10.20
opencv-python==4.10.0.84
python-dotenv==1.0.1
werkzeug==3.1.3
eventlet
numpy==1.26.4
bidict==0.23.1
protobuf==4.25.5

# 图像处理
Pillow==10.4.0
scikit-image==0.25.0

# 工具库
matplotlib==3.10.0
scipy==1.14.1
tqdm==4.67.1

# 开发工具
pytest==8.3.4
jupyter==1.1.1
ipython==8.31.0